<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your watchlist</title>
</head>
<body>
    Input a url to the product page you wish to add to your wishlist.

  <form action="/add-item" method="POST">
    <input type="text" placeholder="url" name="url">
    <button type="submit">Submit</button>
  </form>
</body>
</html>